# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
ecole-app/dist
ecole-app/tmp
ecole-app/out-tsc
ecole-app/bazel-out

# Node
ecole-app/node_modules
back/node_modules
ecole-app/npm-debug.log
ecole-app/yarn-error.log

# IDEs and editors
ecole-app/.idea/
ecole-app/.project
ecole-app/.classpath
ecole-app/.c9/
ecole-app/*.launch
ecole-app/.settings/
ecole-app/*.sublime-workspace

# Visual Studio Code
ecole-app/.vscode/*
ecole-app/.history/*

# Miscellaneous
ecole-app/.angular/cache
ecole-app/.sass-cache/
ecole-app/connect.lock
ecole-app/coverage
ecole-app/libpeerconnection.log
ecole-app/testem.log
ecole-app/typings

# System files
ecole-app/.DS_Store
ecole-app/Thumbs.db
