<p>etudiants works !</p>
<h2>Liste des Étudiants</h2>

<ul>
  <li *ngFor="let etudiant of etudiants">
    {{ etudiant.nom }} {{ etudiant.prenom }} - Classe: {{ etudiant.classe }} 
    <button (click)="supprimerEtudiantParId(etudiant._id.toString())">suppr cet étudiant</button>({{ etudiant._id }})
  </li>
</ul>

<h2>Ajouter un étudiant</h2>
<form (ngSubmit)="ajouterEtudiant()">
  <label for="nom">Nom : </label>
  <input type="text" id="nom" [(ngModel)]="nouvelEtudiant.nom" name="nom" required>
  <br><br>
  <label for="prenom">Prénom : </label>
  <input type="text" id="prenom" [(ngModel)]="nouvelEtudiant.prenom" name="prenom" required>
  <br><br>
  <label for="classe">Classe : </label>
  <input type="text" id="classe" [(ngModel)]="nouvelEtudiant.classe" name="classe" required>
  <br><br>
  <button type="submit">Ajouter un étudiant</button>
  <br><br>
</form>

